{% extends "master.html" %}

{% block main_content %}
<h2>Nr.:{{meeting.silfdnr}} {{meeting.sitext}}, {{meeting.start_date.strftime('%d.%m.%Y %H:%M')}}</h2>
<h3>Allgemeine Informationen</h3>
</br>
Gremium: {{meeting.grname}}
</br>
Datum: {{meeting.nowDate}}
</br>
Status: {{meeting.siost}}
</br>
Zeit: {{meeting.sisb}} - {{meeting.sise}}
</br>
Anlass: {{meeting.saname}}
</br>
Raum: {{meeting.raname}}
</br>
Ort: {{meeting.raort}}

<h3>Tagesordnungspunkte</h3>
        {% for item in meeting.tops %}
            <h4>{{item.section}}: {{item.toptext}} 
            {% if item.toostKurz != 'Ö' %}
                <span class="label label-warning">nicht öffentlich</span></h4>
            {% endif %}
            {{ top_infos[item.tolfdnr].transcript }}
            <hr>
        {% endfor %}
{% endblock %}


